img {
    width: 100%;
}

article {
    border: 2px solid lightgrey;
    text-align: center;
    padding: 15px;
    position: relative;

}

nav {
    text-align: center;
    margin: 2vw;
}

button {
    border: none;
    padding: 1vw 2vw;
    font-size: 1rem;
    cursor: pointer;
    margin: 1.5vw;
}

button:hover {
    background-color: lightgray;
}

.valgt {
    background-color: lightgray;
}

#detalje button.luk {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2rem;
    cursor: pointer;

}

#detalje .menu {
    width: 30vw;
    min-height: 30vh;
    margin: 4rem auto;
    padding: 4rem;
    background: white;

}


#detalje {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: hsla(0, 0%, 83%, 0.48);


}

#detalje h2 {
    font-size: 3vw;
}

#liste {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-gap: 2vw;
    margin: 2vw 7vw;
    cursor: pointer;
}

h1 {
    text-align: center;
    margin: 4vw;
    font-size: 3rem;
}

h2 {
    text-align: center;

}

p {
    text-align: left;

}

#pris {
    text-align: right;
    font-size: 1.2vw;
}

footer {
    background-color: gainsboro;
    display: flex;
    justify-content: center;
    height: 6vw;
}

footer p {
    margin: 1vw 5vw;
}

@media only screen and (max-width:800px) {
    #detalje .menu {
        width: 70vw;

    }

    #detalje h2 {
        font-size: 5vw;
    }

    #pris {
        text-align: right;
        font-size: 3.5vw;
    }

    footer {
        display: block;
        justify-content: center;
        height: 35vw;
    }

    footer p {
        margin: 1vw 5vw;
    }

}
